.edit-form-container {
    max-width: 95%;
    margin: 20px 0 0 20px;
    padding: 10px 40px 40px 40px;
    background-color: #ffffff;
  }
  
  .form-field {
    margin-bottom: 20px;
    display: flex; /* Use flexbox */
    align-items: center; /* Align items vertically */
  }
  
  .form-field label {
    flex-basis: 22%; /* Adjust width of label */
    color: #333;
    font-size: 14px;
  }
  
  .form-field input[type="text"],
  .form-field input[type="password"],
  .form-field input[type="email"],
  .form-field select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 25%;
    box-sizing: border-box;
    font-size: 14px;
  }
  
  .form-field button {
    color: #6c757d;
    cursor: pointer;
    background-color: transparent;
    border: #6c757d 1px solid;
    padding: 4px 10px;
    border-radius: 6px;
  }

  .form-field button:hover{
    background-color: white !important;
  }
  
  .form-field button:hover {
    background-color: #0056b3;
  }
  
  .h2-user-profile{
    margin-bottom: 40px;
  }

  .italics > p {
    font-style: italic;
    font-size: 11px;
    margin-top: 12px;
    margin-bottom: 8px;
  }

  .custom-column-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }